.footer_wrap {
  background-color: #191918;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}
.footer_wrap .footerinner {
  position: relative;
  width: 90%;
  max-width: 1300px;
  margin: auto;
  padding-top: 20px;
}
.footer_wrap .footer_top {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}
.footer_wrap .footerLogo > a {
  padding: 20px 0;
  display: block;
  color: #fff;
  font-size: clamp(11px, 5vw, 28px);
  font-weight: 800;
  /* white-space: nowrap; */
}
.footer_wrap .footer-right {
  width: 50%;
  /* display: flex; */
}
.footer_wrap .footerMenu {
  display: flex;
  gap: 1.5%;
  text-align: end;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.footer_wrap .footerMenu > li {
  color: #fff;
  /* width: calc(100% / 5); */
  font-size: clamp(11px, 3vw, 16px);
  white-space: nowrap;
}
.footer_wrap .footerIcon {
  display: flex;
  margin-left: auto;
  width: 15%;
  max-width: 80px;
}
.footer_wrap .footerIcon > img {
  width: 100%;
  display: block;
}
.footer_wrap .footer-bottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.footer_wrap .footer-bottom > img {
  width: 100%;
  max-width: 200px;
}
.footer_wrap .footer-bottom > span {
  color: #8a8a8a;
  font-size: clamp(11px, 2vw, 16px);
}
@media screen and (max-width: 1030px) {
  .footer_wrap .footer_top {
    flex-direction: column;
    text-align: center;
  }
  .footer_wrap .footer-right {
    width: 100%;
  }
  .footer_wrap .footerMenu {
    /* width: 100%; */
    text-align: center;
    justify-content: center;
  }
  .footer_wrap .footerLogo > a {
    padding-bottom: 10px;
  }
}

/* 퀵 메뉴 fix 메뉴 */
.fix-menu-wrap {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 9999;
 
}
.fix-menu-wrap > .fix-menu {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  gap: 5px;
}
.fix-menu-wrap > .fix-menu > img {
  width: 65px;
}
.fix-menu-wrap > .fix-menu > span {
  background-color: #ffffff;
  color: #000000;
  /* line-height: 20px; */
  border-radius: 10px;
  font-weight: 800;
  position: relative;
  bottom: 0px;
  left: -10px;
  padding: 3px ;
   text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
  display: none; 
 opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.fix-menu-wrap > .fix-menu:hover span {
  display: block; 
  opacity: 1;
  visibility: visible;
}
.fix-menu-wrap > .top-btn {
  position: relative;
  /* width: 65px; */
  /* line-height: 55px; */
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3); */
}


/* .fix-menu-wrap > .top-btn > span {
  background-color: #000000;
  color: #D8A2B3;
  border-radius: 10px;
  font-weight: 800;
  position: absolute;
  bottom: 15px;
  left: -75px;
  padding: 5px;
  border-radius: 23px;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
  /* display: none; */
/* opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
} */

/* .fix-menu-wrap > .top-btn:hover span {
  /* display: block; */
/* opacity: 1;
  visibility: visible; */
