/* 레이아웃 */

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #000000;
  color: #fff;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 600px;
}

.wrapper > h3 {
  font-family: "Playfair Display", serif;
  font-size: 85px;
  padding-left: 10%;
  padding-bottom: 3%;
  position: relative;
  z-index: 99;
}
.wrapper > *:not(img) {
  position: relative;
  z-index: 1;
}
.wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* 부모 높이에 맞춤 */
  object-fit: cover; /* 비율 유지하며 꽉 채우기 */
  filter: brightness(15%);
  z-index: 0; /* 맨 뒤에 배치 */
}
/* 탭 설정 */
.tabs {
  position: relative;
  width: 80%;
  margin: auto;
  background: rgba(0, 0, 0, 0);

  /* height: 2rem; */ /* 추가 */
  display: flex;
  justify-content: space-between;
  align-items: center; /* 추가 */
  /* border-bottom: 1px solid #555;   추가 */
}

.tab-label {
  position: relative;
  padding: 1rem;
  cursor: pointer;
  align-items: flex-end;
  flex: 1; /* 추가 */
  display: flex; /* 추가 */
  justify-content: center; /* 추가 */
  gap: 0.5rem; /* 추가 */
  border-bottom: none; /* 기존 border 제거 */
  transition: color 0.3s ease, border-color 0.3s ease; /* 추가 */
}

.tab-label .infoLogo {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* 활성화 */
.tab-switch:checked + .tab-label {
  color: #fff;
}
.tab-switch:checked + .tab-label::after {
  content: "";
  position: absolute;

  bottom: 0; /* label의 밑에 붙임 */
  left: -10px; /* 탭보다 좌우로 길게 */
  right: -10px;
  height: 5px; /* 선 두께 */
  background-color: #fff;
}

.tab-switch:checked + .tab-label .infoLogo {
  opacity: 1;
}
.tab-switch:checked + .tab-label span {
  color: #fff;
}
/* 탭 제목 폰트 */
.tab-label > span {
  font-size: clamp(16px, 2vw, 25px);
  color: #dbdbdbaa;
}
/* p 폰트*/
.map-scr {
  font-size: clamp(14px, 1.5vw, 20px);
  line-height: 2;
}

.sc-top-r,
.sc-bt1-r,
.sc-bt2-r,
.sc-bt3-r,
.sc-top-l,
.sc-bt1-l,
.sc-bt2-l,
.sc-bt3-l {
  font-size: clamp(14px, 1.5vw, 20px);
  line-height: 2;
}
.diract-scr {
  font-size: clamp(14px, 1.5vw, 20px);
  line-height: 2;
}

/* 탭 스위치 라디오 체크로 탭화면이 변경 */
.tab-switch {
  display: none;
}
.tab-content {
  width: 100%;
  max-width: 1200px;

  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  height: 600px;

  padding: 5rem 2rem 2rem 2rem;

  color: #ffffff;
  opacity: 0;
  transition: all 0.35s;
}
#tab-02 {
  padding: 5rem 2rem 2rem 2rem;
}
.tab-content img {
  width: 100%;
}
.tab-content::before {
  content: "";
}

/* 탭 클릭시 */

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab-content > img {
  aspect-ratio: 16 / 9;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

/* 첫번째탭 info-map */
#tab-01 {
  width: 80%;
}
/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
반응형 가능범위
1000px 이하에서는 줄내림으로 보인다.
*/
.info-map-item {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.info-map {
  width: 50%;
  max-width: 350px;
}
.map-scr {
  width: 30%;
  line-height: 2;
}
/* tab2 */
#tab-02 {
  width: 80%;
}
/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
반응형 가능범위
1090px 이하에서는 줄내림으로 보인다.
*/
.open_time {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sc-top {
  display: flex;
  justify-content: space-around;
}
.sc-bt-1,
.sc-bt-2,
.sc-bt-3 {
  display: flex;
  width: 100%;
  justify-content: space-around;
} /* 왼쪽 영역들 공통 스타일 */

.sc-top-l,
.sc-bt1-l,
.sc-bt2-l,
.sc-bt3-l {
  width: 23%;
  line-height: 2;
  text-align: right;
}

/* 오른쪽 영역들 공통 스타일 */
.sc-top-r,
.sc-bt1-r,
.sc-bt2-r,
.sc-bt3-r {
  width: 60%;
  line-height: 2;
  text-align: left;
}
/* tab3 */
#tab-03 {
  width: 80%;
}
.diract-scr {
  line-height: 2;
  padding-left: 2%;
  /* 
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  패딩 래프트를 하는게 좋을지 
  */
  align-items: center;
}

.info-diract {
  width: auto;
  max-height: 350px;
}

/* more color */
.read-more {
  color: #dbdbdbaa;
  font-size: clamp(12px, 1.5vw, 18px);
  margin-left: auto;
  text-align: right;
}
.diract-scr {
  text-align: right;
}
.diract-scr p {
  text-align: left; /* 위 p는 왼쪽 */
}
.map-scr > p > a {
  text-align: right;
  display: block;
}
.sc-bt3-r > a {
  text-align: right;
  display: block;
}

.info-tab-box {
  display: inline-block;
  width: 30px;
}
.infoLogo {
  width: 100%;
  /* filter: brightness(0.3); */
}

/* 
줄간격 띄우기 : 시간 오픈하워 통일시키기
오타 수정
지도에서 사진과 글자 띄우기
*/
@media (max-width: 950px) {
  /* 박물관지도 */
  .info-map-item {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
  }

  .info-map {
    flex: 0 0 auto;
    width: 100%;
    max-width: 400px;
  }

  .map-scr {
    width: 100%;
    max-width: 400px;
    text-align: left;
  }
  /* 오프닝하워 */
  .sc-top,
  .sc-bt-1,
  .sc-bt-2,
  .sc-bt-3 {
    flex-direction: column;
  }

  .sc-top-l,
  .sc-bt1-l,
  .sc-bt2-l,
  .sc-bt3-l {
    line-height: 2;
    text-align: left;
    padding-left: 3px;
  }
  .sc-top-r,
  .sc-bt1-r,
  .sc-bt2-r,
  .sc-bt3-r {
    width: 100%;
    line-height: 2;
    text-align: left;
  }
  .sc-bt3-r > a {
    text-align: right;
  }
  /* 오시는길 */
}
@media (max-width: 650px) {
  .info-map-item {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
  }

  .info-map {
    flex: 0 0 auto;
    width: 100%;
    max-width: 400px;
  }

  .map-scr {
    width: 100%;
    max-width: 400px;
    text-align: left;
  }

  /* 글자 크기를 */
  .tab-content {
    width: 90%;
  }

  .tab-label {
    padding: 5px;
  }

  .tabs {
    width: 100%;
    margin: 0; /* 중복 제거 */
  }
  .tab {
    width: calc(80% / 3);
  }
  #tab-01,
  #tab-02,
  #tab-03 {
    width: 95%;
    padding: auto;
    padding-top: 10%;
  }
  #tab-02 {
    padding: 5rem 2rem 2rem 5rem;
  }
  .wrapper {
    padding-bottom: 0;
  }

  /* 기존 border 제거 + ::after로 선 표시 */
  .tab-switch:checked + .tab-label {
    color: #fff;
    border-bottom: none; /* 기존 선 제거 */
  }

  .tab-switch:checked + .tab-label::after {
    content: "";
    position: absolute;
    bottom: 0; /* label의 밑에 붙임 */
    left: 0px; /* 좌우로 조금 더 */
    right: 0px;
    height: 5px; /* 선 두께 */
    background-color: #fff;
  }

  .tab-content {
    border-top: none;
  }
  .tab-label > span {
    font-size: clamp(14px, 1vw, 16px);
    color: #dbdbdbaa;
  }
}
@media (max-width: 500px) {
  .tab-content {
    padding: 5rem 2rem 2rem 2rem;
  }
}
@media (max-width: 380px) {
  .info-map-item {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
  }
  .tab-label > span {
    font-size: clamp(14px, 1vw, 14px);
    color: #dbdbdbaa;
  }
  .tab-switch:checked + label {
    /* background-color: red; */
    padding-bottom: 6px;
    border-bottom: 8px solid #fff;
    color: #fff;
  }
  .info-map {
    flex: 0 0 auto;
    width: 100%;
    max-width: 400px;
  }
  #tab-02 {
    padding: 5rem 1rem 1rem 1rem;
  }
  .map-scr {
    width: 100%;
    max-width: 400px;
    text-align: left;
  }
  .tabs {
    margin: 0;
  }
  .tab-label .infoLogo {
    width: 25px; /* 원래보다 작게 */
    height: auto; /* 비율 유지 */
  }

  .tab-label {
    gap: 0.01rem; /* 로고 줄였으니 글자와 간격도 살짝 줄임 */
  }
}

