.modal-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.modal-wrap .ticket {
  display: flex;
  align-items: center;
  width: 40vw;
  min-width: 325px;
  height: 20vw;
  /* overflow: hidden; */
  cursor: pointer;
}

.modal-txt {
  display: flex;
  gap: 7vw;
  margin-left: 4vw;
}

.modalTitle {
  color: #ffae00;
  z-index: 99;
  font-size: clamp(30px, 5vw, 80px);
  font-family: "Cafe24Dangdanghae";
  -webkit-text-stroke: 0.2px black;
  text-shadow: 0 0 150px #fff, 0 0 3px #fff;
}

.modalTitle {
  /* line-height: 200px; */
  margin: 0;
}

.modal-wrap .closeBtn p {
  font-size: clamp(13px, 3vw, 30px);
  line-height: clamp(13px, 3vw, 30px);
  color: #ffae00;
  font-weight: 100;
}

.modal-wrap .left {
  flex: 2;
  width: 80%;
}

.modal-wrap .right {
  width: 19.5%;
  display: flex;
  position: relative;
  transition: transform 0.5s ease;
  transform-origin: left bottom;
  /* transform: rotateZ(-20deg);  */
}

.modal-wrap .ticket.clicked .right {
  transform: rotateZ(20deg); /* Y축으로 기울이기 */
}

.modal-wrap img {
  width: 100%;
  display: block;
}

.modal-wrap .right img {
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .modal-wrap {
    gap: 5vw;
  }
}
@media (max-width: 545px) {
  .modal-wrap {
    gap: 8vw;
  }
}
